.footer {
  background: rgb(241, 241, 241);
  background: linear-gradient(
    0deg,
    rgb(169, 169, 169) 0%,
    rgb(195, 195, 195) 100%
  );
  color: #fff;
  color: #000000;
  padding: 20px;
  text-align: center;
}
