*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* background-color: red; */
  }
  body{
    background-color: #252525;
    height: 100vh;
    color: white;
  }
  html{
    &::-webkit-scrollbar{
      display: none;
    }
  }